$white: #fff;
$black: #000;
$primaryColor: #6e63ff;
$brandPrimaryColor: #2a0a0a;
$whiteSmokeDark:#adadad;
$whiteSmoke:#F2F2F2;
$EgyptianBlue:#15558d0d;
$DodgerBlue:#2196F3;
$whiteSmokelight:#dadada;
$brandSecondaryColor: #f21b3f;
$primaryHover: #9a55ff1a;
$mainBgColor: #f2edf3;
$showColor: #001f43;
$errorColor: #dc3545;
$indigo:#9238ae;
$Panache-green:#EEFAEF;
$Purpul-white:#E4DDE6;
$alice-blue: #E9F7FD;
$floral-white:#FFF7EA;
$dodger-blue: #1991EB;
$warning-color:#F7981C;
$Chablis-red:#FEEBEB;
$error-color: #ED1C24;
$success-col: #1BB934;
$dark-bg-color: #191c24;
$bgGradientColor:linear-gradient(90deg, #6e63ff 0%, #9732a3 100%);